body {
    background: #000;
    color: white;
    font-family: "lato", sans-serif;
}

h1 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h5 {
    text-align: center;
}

#map {
    width: 100%;
    height: 60vh;
    top: 0;
    bottom: 0;
}

.locbtn-large {
  color: black;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  top: 34px;
  left: 30px;
  cursor: pointer;
  padding: 0px 3px;
  border: 1px solid hotpink;
}

.section-nav {} .site-header {
    margin-bottom: 1em;
    border-bottom: 5px solid hotpink;
    padding: 12px;
    background: #000;
}

#res-name {
    background-color: hotpink;
    padding: 3px;
    color: black;
}

.main-nav,
.review-nav {
    list-style: none;
    padding: 0;
    height: auto;
    max-height: 27vh;
    overflow: auto;
}

.main-nav-item {
    display: inline-block;
    font-size: 1em;
    border-bottom: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 49%;
}

.main-nav-item:hover {
    background: hotpink;
    cursor: pointer;
}

.info-content {
    color: black;
}

.info-content img {
    display: block;
    width: 150px;
    height: 150px;
    margin-right: 0;
}

.info-content p {
    margin-top: 1.5em;
    font-size: 12px;
}

.text-pink {
    color: hotpink;
}

@media only screen and (min-width: 768px) {
    .main-nav,
    .review-nav {
        padding-bottom: 5em;
        padding-left: 10px;
        overflow: auto;
    }

    .main-nav-item {
        text-overflow: ellipsis;
        width: 33.33%;
    }
}

@media only screen and (min-width: 992px) {
    #map {
        width: 100%;
        height: 98vh;
    }

    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .site-header {
        padding: 24px 24px 24px 12px;
        margin-bottom: 2em;
    }

    .main-nav,
    .review-nav {
        padding-bottom: 2em;
        overflow: auto;
        padding-left: 10px;
    }

    .main-nav-item {
        display: block;
        font-size: 1.2em;
        line-height: 2em;
        border-bottom: 1px solid white;
        white-space: normal;
        width: 100%;
    }

    .section-content {
        padding: 0;
    }

    .info-content p {
        margin-top: 1.5em;
        font-size: 1em;
    }
    
    .info-content img {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}